.about-image {
    position: absolute;
    width: 100%;
    z-index: -500;
    
    img {
        height: 500px;
    }
}

.about-text {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 215px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -50;

    p {
        padding: 0px 20px;
    }

    p, a{
        text-align: center;
        color: #FFFFFF;
        font-family: PostGrotesk,Arial,Helvetica,sans-serif;
        font-size: 44px;
        font-weight: bold;
        margin-bottom: 40px;
        text-shadow: 1px 1px 3px #333;

        a {
            font-size: 44px;
            text-decoration: underline;
            text-transform: none;
            letter-spacing: 0.5pt;
        }
    }
}