.nav-button {
    float: left;
    overflow: hidden;
    border-right: 1px solid #489540;
}

.nav-button .giva-btn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 22px 22px;
    background-color: inherit;
    font-family: PostGrotesk,Arial,Helvetica,sans-serif;
    font-size: 18px;
    margin: 0;
}

.nav-button:hover .giva-btn {
    background-color: #489540;
}

.nav-button-right {
    float: left;
    overflow: hidden;
    border-left: 1px solid #489540;
}

.nav-button-right .giva-btn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 22px 22px;
    background-color: inherit;
    font-family: PostGrotesk,Arial,Helvetica,sans-serif;
    font-size: 18px;
    margin: 0;
}

.nav-button-right:hover .giva-btn {
    background-color: #489540;
}