.main-page {
    background: #EEEFE9;
    height: 570px;
}

.site-nav {
    display: flex;
    margin: 0 auto;
    padding: 10px;
    justify-content: space-between;
    background: rgb(80,175,79);
    color: #FFFFFF;
    height: 45px;
    align-items: center;
    font-family: PostGrotesk,Arial,Helvetica,sans-serif;
    font-size: 18px;
}

.impact-steps-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    h1 {
        font-size: 36px;
        font-family: PostGrotesk,Arial,Helvetica,sans-serif;
        font-weight: 700;
        color: #484848;
        margin-bottom: 20px;
        margin-top: 90px;
    }

    span {
        font-size: 20px;
        font-family: PostGrotesk,Arial,Helvetica,sans-serif;
        color: #484848;
        line-height: 28px;
    }
}

.impact-steps {
    margin-top: 45px;
    display: flex;
    width: 1062px;
    justify-content: center;
    flex-wrap: wrap;

    .step {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 50px;

        img {
            width: 119px;
            height: 150px;
        }

        h1 {
            font-size: 24px;
            font-family: PostGrotesk,Arial,Helvetica,sans-serif;
            font-weight: 700;
            color: #484848;
            margin-bottom: 10px;
            margin-top: 20px;
        }

        span {
            font-size: 16px;
            font-family: PostGrotesk,Arial,Helvetica,sans-serif;
            color: #484848;
            line-height: 24px;
        }
    }
}

.impact-steps.dots img {
    position: absolute;
    bottom: 0;
    height: 300px;
}

.why-kiva {
    background: #FFFFFF;
    height: 1000px;
}

.video-link {
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 90px;
}

.icon {
    height: 150px;
    width: 100px;
}

.error-messages {
    font-family: PostGrotesk,Arial,Helvetica,sans-serif;
    font-size: 14px;
    color: red;
}