.main-page {
    background: #EEEFE9;
    height: 570px;
}

.white-space {
    height: 100px;
}

.site-nav {
    display: flex;
    margin: 0 auto;
    padding: 10px;
    justify-content: space-between;
    background: rgb(80,175,79);
    color: #FFFFFF;
    height: 45px;
    align-items: center;
    font-family: PostGrotesk,Arial,Helvetica,sans-serif;
    font-size: 18px;
}

.browse-loans {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    h1 {
        font-size: 40px;
        font-family: PostGrotesk,Arial,Helvetica,sans-serif;
        color: #484848;
        margin-bottom: 50px;
        margin-top: 70px;
        letter-spacing: 1px;
    }

    .loan-links {
        display: flex;
        align-items: center;
        padding: 0px 5px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .loan-links .container {
        h2 {
            font-family: PostGrotesk,Arial,Helvetica,sans-serif;
            font-size: 22px;
            font-weight: 500;
            position: absolute;
            top: 85%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
            color: white;
            letter-spacing: 1px;
            text-shadow: 1px 1px 3px #000;
        }

        a:hover {
            h2 {
                text-decoration: underline;
            }

            h3 {
                text-decoration: underline;
            }
        }

        h3 {
            font-family: PostGrotesk,Arial,Helvetica,sans-serif;
            font-size: 22px;
            font-weight: 500;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
            color: white;
            letter-spacing: 1px;
            text-shadow: 1px 1px 3px #000;
            text-align: center;
        }

        img {
            width: 310px;
            height: 170px;
            padding: 2.5px 2.5px;
        }
        
    }

    .container {
        position: relative;
        text-align: center;
        color: white;
    }
}

.impact-steps-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    h1 {
        font-size: 36px;
        font-family: PostGrotesk,Arial,Helvetica,sans-serif;
        font-weight: 700;
        color: #484848;
        margin-bottom: 20px;
        margin-top: 90px;
    }

    span {
        font-size: 20px;
        font-family: PostGrotesk,Arial,Helvetica,sans-serif;
        color: #484848;
        line-height: 28px;
    }
}

.impact-steps {
    margin-top: 45px;
    display: flex;
    width: 1062px;
    justify-content: center;
    flex-wrap: wrap;

    .step {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 50px;

        img {
            width: 119px;
            height: 150px;
        }

        h1 {
            font-size: 24px;
            font-family: PostGrotesk,Arial,Helvetica,sans-serif;
            font-weight: 700;
            color: #484848;
            margin-bottom: 10px;
            margin-top: 20px;
        }

        span {
            font-size: 16px;
            font-family: PostGrotesk,Arial,Helvetica,sans-serif;
            color: #484848;
            line-height: 24px;
        }
    }
}

.impacts-section {
    background: #FDF7EB;
    height: 650px;
}

.why-giva {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    h1 {
        font-size: 38px;
        font-family: PostGrotesk,Arial,Helvetica,sans-serif;
        margin-bottom: 35px;
        margin-top: 60px;
        color: #50AF4F;
    }
}

.video-link {
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 90px;
}

.icon {
    height: 150px;
    width: 100px;
}

.error-messages {
    font-family: PostGrotesk,Arial,Helvetica,sans-serif;
    font-size: 14px;
    color: red;
}