.site-nav {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    background: rgb(80,175,79);
    color: #FFFFFF;
    height: 64px;
    text-align: center;
    align-items: center;
    font-family: PostGrotesk,Arial,Helvetica,sans-serif;
    font-size: 18px;
}