.content-background {
    background: #e7e7e6
}

.login-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-nav {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    background: rgb(80,175,79);
    color: #FFFFFF;
    height: 55px;
    text-align: center;
    align-items: center;
    font-family: PostGrotesk,Arial,Helvetica,sans-serif;
    font-size: 34px;
    font-weight: bold;
}

.login-form-box {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 3px;
    width: 400px;
    height: 590px;
    top: 100px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-title {
    font-family: PostGrotesk,Arial,Helvetica,sans-serif;
    font-size: 24px;
    margin-bottom: 10px;

    a {
    color: #118AEC;
    }
}

.login-input-box {
  box-sizing: border-box;
  border: #E8E7E9 solid 1px;
  height: 45px;
  width: 350px;
  padding: 20px 0px 14px 20px;
  margin: 15px 15px;
  font-size: 16px;
  font-family: PostGrotesk,Arial,Helvetica,sans-serif;
}

.submit-button {
    box-sizing: border-box;
    border: #E8E7E9 solid 1px;
    border-radius: 4px;
    height: 45px;
    width: 350px;
    padding: 20px 20px 20px 20px;
    margin: 15px 15px;
    font-size: 20px;
    font-family: PostGrotesk,Arial,Helvetica,sans-serif;
    background-color: #118BEC;
    box-shadow: 1px #073153;
    color: #FFFFFF;
    text-align: center;
}

p {
    font-size: 14px;
    font-family: PostGrotesk,Arial,Helvetica,sans-serif;
    margin: 5px 15px;
    margin-bottom: 15px;
    color: #484848;
}

label {
    font-family: PostGrotesk,Arial,Helvetica,sans-serif;
    font-size: 16px;
    margin-left: 15px;
}