.profile-nav {
    display: flex;
    margin: 0 auto;
    padding: 10px;
    justify-content: space-between;
    background: #257037;
    color: #FFFFFF;
    height: 35px;
    text-align: center;
    align-items: center;
    font-family: PostGrotesk,Arial,Helvetica,sans-serif;
    font-size: 16px;
}