.profile-nav {
    display: flex;
    margin: 0 auto;
    padding: 10px;
    justify-content: space-between;
    background: #257037;
    color: #FFFFFF;
    height: 35px;
    text-align: center;
    align-items: center;
    font-family: PostGrotesk,Arial,Helvetica,sans-serif;
    font-size: 16px;

    .selected-button {
        color: #4EAF4E;
        border-bottom: 1px solid #4EAF4E;
        padding-bottom: 2px;
    }

    button, a {
        margin-right: 40px;
    }

    button:hover, a:hover {
        color: #4EAF4E;
        border-bottom: 1px solid #4EAF4E;
        padding-bottom: 2px;
    }

    button {
        margin-left: 25px;
    }
}

.profile-title {
    font-family: PostGrotesk,Arial,Helvetica,sans-serif;
    font-size: 22px;
    color: #4FAF4E;
    margin-left: 35px;
    margin-top: 20px;
}